{% extends 'website/layout.html' %}

{% block title %}Все датчики{% endblock %}

{% block body %}
    <div id="resize-panel" class="">
        {% for room_sensors in rooms_sensors %}
        <div class="inside-panel">
            <h2>{{ room_sensors.0.title }}</h2>
            <div class="favorites">
                {% for sensor in room_sensors.1 %}
                    <div class="rosette{% if sensor.active == False %}-off{% endif %}">
                        <a href="{% url 'sensor_switch' id=sensor.id%}">{{ sensor.title }}
                            <br>{% if sensor.active == True %}Вкл{% else %}Выкл{% endif %}
                        </a>
                        <br>
                        <a href="{% url 'sensor_switch-star' id=sensor.id %}">
                            {% if not sensor.stared %}
                                в избранное
                            {% else %}
                                из избранного
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}