{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}" />
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</head>
<body class="auth">
    <form method="post" action="{% url 'auth' %}" class="auth-form">{% csrf_token %}
        {% for item in login_form %}
            <div>{{ item }}</div>
        {% endfor %}
        <input type="submit" id="auth-button" value="Войти">
    </form>
</body>
</html>
