{% extends 'website/layout.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div id="resize-panel" class="">
        <div class="inside-panel">
            <h2>Избранное</h2>
            <div class="favorites">
                {% for sensor in sensors %}
                    <div class="rosette{% if sensor.active == False %}-off{% endif %}">
                        <a href="{% url 'sensor_switch' id=sensor.id%}">{{ sensor.title }}
                            <br>{% if sensor.active == True %}Вкл{% else %}Выкл{% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="inside-panel">
            <h2>Комнаты</h2>
            <div class="rooms">
                {% for room in rooms %}
                    <div><a href="{% url 'room' id=room.id %}">{{ room.title }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}