{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}" />
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</head>
<body>
<header class="top-menu">
    <div>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'all' %}">Все датчики</a>
        <a href="{% url 'macros' %}">Макросы</a>
    </div>
    </header>
{% block body %}
{% endblock %}
</body>
</html>