{% extends 'website/layout.html' %}

{% block title %}Макросы{% endblock %}

{% block body %}
    <div id="resize-panel" class="">
        <div class="inside-panel">
            <h2>Все вкл - <a href="{% url 'macros_switch' id=1 %}">применить</a></h2>
            <div class="favorites">
                {% for macros_on in macroses_on %}
                    <div class="rosette{% if macros_on.sensor.active == False %}-off{% endif %}">
                        <a href="">{{ macros_on.sensor.title }}
                            <br>{% if macros_on.sensor.active == True %}Вкл{% else %}Выкл{% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="inside-panel">
            <h2>Все выкл - <a href="{% url 'macros_switch' id=0 %}">применить</a></h2>
            <div class="favorites">
                {% for macros_off in macroses_off %}
                    <div class="rosette{% if macros_off.sensor.active == False %}-off{% endif %}">
                        <a>{{ macros_off.sensor.title }}
                            <br>{% if macros_off.sensor.active == True %}Вкл{% else %}Выкл{% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="inside-panel">
            <h2>Переключить все - <a href="{% url 'macros_switch' id=2 %}">применить</a></h2>
            <div class="favorites">
                {% for macros_switch in macroses_switch %}
                    <div class="rosette{% if macros_switch.sensor.active == False %}-off{% endif %}">
                        <a>{{ macros_switch.sensor.title }}
                            <br>{% if macros_switch.sensor.active == True %}Вкл{% else %}Выкл{% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}