{% extends 'website/layout.html' %}

{% block title %}{{ room.title }}{% endblock %}

{% block body %}
    <div id="resize-panel" class="">
        <div class="inside-panel">
            <h2>{{ room.title }}</h2>
            <div class="favorites">
                {% for sensor in sensors %}
                    <div class="rosette{% if sensor.active == False %}-off{% endif %}">
                        <a href="{% url 'sensor_switch' id=sensor.id%}">{{ sensor.title }}
                            <br>{% if sensor.active == False %}Вкл{% else %}Выкл{% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}