

body{
    margin: 0;
    min-width: 320px;
}


h2{
    font-family: DINPro-Server;
    font-weight: 600;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f1cb0d;
}
a:visited{
    color: black;
}
p{
    margin: 0;
}


.top-menu div{
    margin: 30px auto 0 auto;
    width: 259px;
}
.top-menu div a {
    font-family: "DIN Condensed";
    font-size: 22px;
    color: black;
    margin: 0 6px;
    letter-spacing: 0.2px;
}
.top-menu div a:hover{
    color: #edc714;
}


.inside-panel{
    margin: 22px auto 0 auto;
    max-width: 1000px;
    padding: 0 15px 0 30px;
}
.phone h2{
    text-align: center;
}


.favorites{
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.favorites div{
    font-family: DINPro-Server;
    font-weight: 600;
    font-size: 20px;
    min-width: 150px;
}
.favorites div a:visited{
    color: black;
}
.favorites div a:hover{
    color: black;
}


.phone .favorites{
    display: block;
}
.phone .favorites div{
    padding: 15px 22px 15px 22px;
    margin-bottom: 15px;
}

.lock{
    color: white;
    background: #2FCC99;
    box-shadow: rgba(47, 204, 153, 0.60) 0 5px 12px;
    border: 3px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 15px;
    margin: 0 15px 15px 0;
}
.lock:hover{
    background: rgba(47, 204, 153, 0.2);
    color: #2FCC99;
    border: 3px solid #2FCC99;
}
.lock-off{
    color: #2FCC99;
    border: 3px solid #2FCC99;
    cursor: pointer;
    padding: 15px;
    margin: 0 15px 15px 0;
}
.lock-off:hover{
    background: rgba(47, 204, 153, 0.21);
}

.rosette{
    color: white;
    background: #2F8CCC;
    box-shadow: rgba(47, 140, 204, 0.60) 0 5px 12px;
    border: 3px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 15px;
    margin: 0 15px 15px 0;
}
.rosette:hover{
    color: #2F8CCC;
    background: rgba(47, 140, 204, 0.2);
    border: 3px solid #2F8CCC;
}
.rosette-off{
    color: #2F8CCC;
    border: 3px solid #2F8CCC;
    cursor: pointer;
    padding: 15px;
    margin: 0 15px 15px 0;
}
.rosette-off:hover{
    background: rgba(47, 140, 204, 0.2);
}

.thermometer{
    color: white;
    background: #CC962F;
    box-shadow: rgba(204, 150, 47, 0.6) 0 5px 12px;
    border: 3px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 15px;
    margin: 0 15px 15px 0;
}
.thermometer:hover{
    color: #CC962F;
    background: rgba(204, 150, 47, 0.2);
    border: 3px solid #CC962F;
}
.thermometer-off {
    color: #CC962F;
    border: 3px solid #CC962F;
    cursor: pointer;
    padding: 15px;
    margin: 0 15px 15px 0;
}
.thermometer-off:hover{
    background: rgba(204, 150, 47, 0.2);
}


.rooms{
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.rooms div{
    background: #e7e7e7;
    margin: 0 15px 15px 0;
    width: 200px;
    height: auto;
    cursor: pointer;
    display: block;
}
.rooms div:hover{
    opacity: 0.9;
}
.rooms div img{
    width: 200px;
}
.rooms div a{
    margin: 7px 15px 15px 15px;
    font-family: DINPro-Server;
    font-weight: 500;
    color: black;
    display: block;
}

.phone .rooms{
    display: block;
    margin-right:15px;
}
.phone .rooms div{
    background: #e7e7e7;
    width: 100%;
    height: 100px;
    display: flex;
}
.phone .rooms div img{
    width: 100px;
}
.phone .rooms div a{
    margin: auto 10px auto 30px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(42, 42, 42);
}




/*-----LOGIN-----*/
.auth{

}
.auth-form{
    display: block;
    margin: 20px 20px;
}
.auth-form div{

}
.auth-form input{
    width: 200px;
    border: 0;
    background: none;
    border-radius: 2px;
}
#auth-button{
    background: #2F8CCC;
    color: white;
    border-radius: 2px;
}
/*-----LOGIN-----*/











@font-face {
    font-family: DINPro-Server;
    font-weight: 700;
    src: url(./font/DINPro-Black.otf) format('opentype');
}
@font-face {
    font-family: DINPro-Server;
    font-weight: 600;
    src: url('./font/DINPro-Bold.otf') format('opentype');
}
@font-face {
    font-family: DINPro-Server;
    font-weight: 500;
    src: url(./font/DINPro-Medium.otf) format('opentype');
}
@font-face {
    font-family: DINPro-Server;
    font-weight: 400;
    src: url(./font/DINPro-Regular.otf) format('opentype');
}
@font-face {
    font-family: DINPro-Server;
    font-weight: 300;
    src: url(./font/DINPro-Light.otf) format('opentype');
}